## Segmenting and Clustering Neighborhoods in Toronto

### Coursera Applied Data Science Capstone Week 3 Assignment

#### Obtaining data from Wikipedia and creating a dataframe with three columns: PostalCode, Borough, and Neighborhood

In [11]:
import pandas as pd

In [12]:
# extract data tables from wikipedia
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url)

# transfrom into dataframe
dfraw = dfs[0]
dfraw.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [13]:
# check raw data size
dfraw.shape

(180, 3)

#### Cleaning data:
#### 1. Drop cells with a borough that is Not assigned
#### 2. If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough. (no such cells found)
#### 3. If more than one neighborhoods exist in one postal code area, combine them into one. (no duplicate postal codes found)

In [14]:
# drop rows with a borough that is Not assigned
df = dfraw[dfraw.Borough !='Not assigned']
df.shape

(103, 3)

In [15]:
# check if there are any rows with Neighbourhood that is Not assigned
df.loc[df.Neighbourhood == "Not assigned"]
# no returns

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [36]:
# check if any postal codes listed more than ones
dup = df[df['Postal Code'].duplicated()]
dup
# none found

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [37]:
df =df.reset_index(drop=True)
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### In the last cell of the notebook, use the .shape method to print the number of rows of your dataframe.

In [38]:
df.shape

(103, 3)